{
	order blue_body before reverse_proxy
}

http://127.0.0.1:18080 {
	log {
		output file /sensor-logs/access.jsonl {
			roll_size {$BLUE_ACCESS_ROLL_SIZE}
			roll_keep 10
			roll_uncompressed
		}
		format json
	}

	log_append path {http.request.uri.path}
	blue_body {$BLUE_BODY_MAX_BYTES}
	reverse_proxy {$BLUE_TARGET_UPSTREAM}
}
